@model IEnumerable<CHI_TIET_GIO_HANG>

<div class="shopping_cart_area">
    <form action="#">
        <!--coupon code area start-->
        <div class="coupon_area">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-12 col-md-12">
                            <div class="coupon_code d-flex giohang-sp row py-3">
                                @if (item.SAN_PHAM.db_DS_MEDIA_HINH_ANH != null && item.SAN_PHAM.db_DS_MEDIA_HINH_ANH.Any())
                                {
                                        // Kiểm tra xem đường dẫn hình ảnh có tồn tại hay không
                                        var firstImage = item.SAN_PHAM.db_DS_MEDIA_HINH_ANH.FirstOrDefault();
                                        if (firstImage != null && !string.IsNullOrEmpty(firstImage.MediaHinhAnh))
                                        {
                                            <img src="~/img/product/@firstImage.MediaHinhAnh" alt="Hình ảnh" style="width:300px; height:300px" />
                                        }
                                        else
                                        {
                                            <span>Đường dẫn hình ảnh không hợp lệ</span>
                                        }
                                }
                                else
                                {
                                    <span>Không có hình ảnh</span>
                                }

                                <div class="col-lg-3">
                                    <p><strong>@item.SAN_PHAM.TenSP</strong></p>

                                    <input value="@item.SoLuong" name="quantity" type="number" min="0" max="100" onchange="updateQuantity('@item.MaSP', this.value)" />

                                </div>
                                <div class="col-lg-3">
                                    <a onclick="deleteProduct('@item.MaSP')" style="color: black"><i class="fas fa-trash"></i> Xóa </a>
                                    <p> Đơn giá: @item.SAN_PHAM.Gia.ToString("N0") đ</p>
                                </div>
                            </div>
                        </div>
                    }


                </div>
                

                <div class="col-lg-3 col-md-3">
                    <div class="coupon_code">
                        <h3>Thông tin đơn hàng</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Tổng tiền</p>
                                <p class="cart_amount">




                                    @{
                                        double total = 0;
                                        for (int i = 0; i < Model.Count(); i++)
                                        {
                                            var item = Model.ElementAt(i);
                                            total += item.SAN_PHAM.Gia * item.SoLuong;
                                        }
                                        @total.ToString("N0")
                                    } đ
                                </p>
                            </div>
                            <div class="ThemNV">
                                <div class="form-group">
                                    <label for="ghiChu">Ghi chú</label>
                                    <textarea class="form-control" id="ghiChu" name="ghiChu" rows="3"></textarea>
                                </div>

                                <!-- Nút đặt hàng -->
                                <button type="submit" class="btn btn-xanhLa" asp-controller="GioHang" asp-action="DatHang">Đặt hàng</button>
                            </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area end-->
    </form>
</div>


<script>
    function updateQuantity(itemId, newQuantity) {
        $.ajax({
            url: '/GioHang/UpdateQuantity',
            type: 'POST',
            data: { itemId: itemId, newQuantity: newQuantity },
            success: function (response) {
                console.log('Số lượng đã được cập nhật thành công.');
                // Reload lại trang sau khi cập nhật thành công
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi cập nhật số lượng: ' + error);
            }
        });
    }
    function deleteProduct(itemId) {
        $.ajax({
            url: '/GioHang/DeleteProduct',
            type: 'POST',
            data: { itemId: itemId },
            success: function (response) {
                console.log('Sản phẩm đã được xóa khỏi giỏ hàng.');
                // Reload lại trang sau khi xóa sản phẩm thành công
                location.reload();
            },
            error: function (xhr, status, error) {
                console.error('Lỗi khi xóa sản phẩm khỏi giỏ hàng: ' + error);
            }
        });
    }

</script>
