@model IEnumerable<SAN_PHAM>

<div class=" pos_home_section">
    <div class="row pos_home">
        <div class="col-lg-3 col-md-12">
            <!--layere categorie-->
            <div class="sidebar_widget shop_c">
                <div class="categorie__titile">
                    <h4>Danh mục</h4>
                </div>
                <div class="layere_categorie">
                    <ul>
                        @if (Model != null && Model.Any())
                        {
                            var danhMucSet = new HashSet<string>();
                            @foreach (var sanPham in Model)
                            {
                                // Kiểm tra xem tên danh mục đã được hiển thị chưa
                                if (!danhMucSet.Contains(sanPham.DANH_MUC.TenDanhMuc))
                                {
                                    <li>
                                        <input id="@sanPham.DANH_MUC.MaDanhMuc" type="checkbox">
                                        <label for="@sanPham.DANH_MUC.MaDanhMuc">@sanPham.DANH_MUC.TenDanhMuc</label>
                                    </li>
                                    danhMucSet.Add(sanPham.DANH_MUC.TenDanhMuc);
                                }
                            }
                        }
                        else
                        {
                            <li>Không có danh mục để hiển thị.</li>
                        }
                    </ul>
                </div>
            </div>
            <!--layere categorie end-->
            <!-- Price Range -->
            <div class="sidebar_widget shop_c">
                <div class="categorie__titile">
                    <h4>Giá</h4>
                </div>
                <div class="layere_categorie">
                    <ul>
                        <li>
                            <input id="price_under_100000" type="checkbox" value="0-300000">
                            <label for="price_under_100000">Dưới 300,000 VNĐ</label>
                        </li>
                        <li>
                            <input id="price_300000_to_500000" type="checkbox" value="300000-500000">
                            <label for="price_300000_to_500000">Từ 300,000 VNĐ đến 500,000 VNĐ</label>
                        </li>
                        <li>
                            <input id="price_500000_to_1000000" type="checkbox" value="500000-1000000">
                            <label for="price_500000_to_1000000">Từ 500,000 VNĐ đến 1,000,000 VNĐ</label>
                        </li>
                        <li>
                            <input id="price_1000000_to_2000000" type="checkbox" value="1000000-2000000">
                            <label for="price_1000000_to_2000000">Từ 1,000,000 VNĐ đến 2,000,000 VNĐ</label>
                        </li>
                        <li>
                            <input id="price_over_2000000" type="checkbox" value="2000000+">
                            <label for="price_over_2000000">Trên 2,000,000 VNĐ</label>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Price Range end -->

        </div>
        <div class="col-lg-9 col-md-12">
            <!--banner slider start-->
            <div class="banner_slider mb-35">
                <img src="assets\img\banner\bannner10.jpg" alt="">
            </div>
            <!--banner slider start-->
            <!--shop toolbar start-->
            <div class="shop_toolbar mb-35">

                <div class="list_button">  </div>

                <div class="select_option">
                    <form action="#">
                        <label>Sắp xếp theo: </label>
                        <select name="orderby" id="short">
                            <option selected="" value="1">Vị trí</option>
                            <option value="1">Giá: Tăng dần</option>
                            <option value="1">Giá: Giảm dần</option>
                            <option value="1">Tên A-Z</option>
                        </select>
                    </form>
                </div>
            </div>
            <!--shop toolbar end-->
            <!--shop tab product-->
            <div class="shop_tab_product">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="large" role="tabpanel">
                        <div class="row">
                            @if (Model != null && Model.Any())
                            {
                                @foreach (var sanPham in Model)
                                {
                                    <div class="col-lg-4 col-md-6 product-item @sanPham.DANH_MUC.MaDanhMuc">
                                        <div class="single_product">
                                            <div class="product_thumb">
                                                <a href="single-product.html">
                                                    @if (sanPham.db_DS_MEDIA_HINH_ANH != null && sanPham.db_DS_MEDIA_HINH_ANH.Any())
                                                    {
                                                        var firstImage = sanPham.db_DS_MEDIA_HINH_ANH.FirstOrDefault();
                                                        if (firstImage != null && !string.IsNullOrEmpty(firstImage.MediaHinhAnh))
                                                        {
                                                            <img src="~/img/product/@firstImage.MediaHinhAnh" alt="Hình ảnh" style="width:300px; height:300px" />
                                                        }
                                                        else
                                                        {
                                                            <span>Đường dẫn hình ảnh không hợp lệ</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>Không có hình ảnh</span>
                                                    }
                                                </a>
                                                <div class="product_action">
                                                    <a onclick="addToCart(@sanPham.MaSP, 1)">
                                                        <i class="fa fa-shopping-cart"></i> Thêm vào giỏ
                                                    </a>
                                                    <a asp-controller="Home" asp-action="SPChiTiet" asp-route-id="@sanPham.MaSP">Chi tiết</a>
                                                </div>
                                            </div>
                                            <div class="product_content">
                                                <span class="product_price">@sanPham.Gia.ToString("N0") đ</span>
                                                <h3 class="product_title"><a href="single-product.html">@sanPham.TenSP</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>Không có sản phẩm để hiển thị.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--shop tab product end-->
            <!--pagination style start-->
            <div class="pagination_style">
                <div class="item_page">
                  
                </div>
                <div class="page_number">
                    <span>Pages: </span>
                    <ul>
                        <li>«</li>
                        <li class="current_number">1</li>
                        <li><a href="#">2</a></li>
                        <li>»</li>
                    </ul>
                </div>
            </div>
            <!--pagination style end-->
        </div>
    </div>
</div>

<form id="addToCartForm" method="post" asp-controller="GioHang" asp-action="ThemVaoGioHang" style="display: none;">
    <input type="hidden" name="id" id="productId" />
    <input type="hidden" name="quantity" id="quantity" value="1" min="1" />
</form>

<script>
    function addToCart(productId, quantity) {
        // Set the values of the hidden inputs in the form
        document.getElementById('productId').value = productId;
        document.getElementById('quantity').value = quantity;

        // Submit the form
        document.getElementById('addToCartForm').submit();
    }

    // xử lí danhmuc
    $(document).ready(function () {
        $('input[type="checkbox"]').change(function () {
            // Khởi tạo một biến để kiểm tra xem có checkbox nào được chọn không
            var anyCheckboxChecked = false;

            // Lặp qua tất cả các checkbox để kiểm tra xem có checkbox nào được chọn không
            $('input[type="checkbox"]').each(function () {
                if ($(this).is(':checked')) {
                    anyCheckboxChecked = true;
                    return false; // Thoát khỏi vòng lặp khi tìm thấy checkbox được chọn
                }
            });

            // Nếu không có checkbox nào được chọn, hiển thị lại tất cả sản phẩm
            if (!anyCheckboxChecked) {
                $('.product-item').show();
                return; // Kết thúc xử lý nếu không có checkbox nào được chọn
            }

            // Lấy giá trị của checkbox được chọn
            var danhMucId = $(this).attr('id');

            // Hiển thị hoặc ẩn sản phẩm dựa trên checkbox được chọn
            $('.product-item').each(function () {
                if ($(this).hasClass(danhMucId)) {
                    $(this).show(); 
                } else {
                    $(this).hide(); 
                }
            });
        });
    });

    //xử lí giá 
    $(document).ready(function () {
        // Xử lý sự kiện khi checkbox giá được chọn hoặc bỏ chọn
        $('input[type="checkbox"][id^="price_"]').change(function () {
            // Khởi tạo một biến để kiểm tra xem có checkbox giá nào được chọn không
            var anyPriceCheckboxChecked = false;

            // Lặp qua tất cả các checkbox giá để kiểm tra xem có checkbox nào được chọn không
            $('input[type="checkbox"][id^="price_"]').each(function () {
                if ($(this).is(':checked')) {
                    anyPriceCheckboxChecked = true;
                    return false; // Thoát khỏi vòng lặp khi tìm thấy checkbox được chọn
                }
            });

            // Nếu không có checkbox giá nào được chọn, hiển thị lại tất cả sản phẩm
            if (!anyPriceCheckboxChecked) {
                $('.product-item').show();
                return; // Kết thúc xử lý nếu không có checkbox nào được chọn
            }

            // Hiển thị hoặc ẩn sản phẩm dựa trên giá được chọn
            $('.product-item').each(function () {
                // Lấy giá sản phẩm
                var productPrice = parseFloat($(this).find('.product_price').text().replace(/\D/g, ''));

                // Lấy giá trị của checkbox giá được chọn
                var priceRange = $('input[type="checkbox"][id^="price_"]:checked').val().split('-');

                // Kiểm tra xem giá sản phẩm có nằm trong khoảng giá được chọn không
                if (priceRange[1] === '+' && productPrice >= parseFloat(priceRange[0])) {
                    $(this).show(); // Hiển thị sản phẩm nếu nằm trong khoảng giá được chọn
                }
                else if (priceRange[1] !== '+' && productPrice >= parseFloat(priceRange[0]) && productPrice <= parseFloat(priceRange[1])) {
                    $(this).show(); // Hiển thị sản phẩm nếu nằm trong khoảng giá được chọn
                } else {
                    $(this).hide(); // Ẩn sản phẩm nếu không nằm trong khoảng giá được chọn
                }

            });
        });
    });


</script>
<script>
    function addToCart(productId, quantity) {
        // Set the values of the hidden inputs in the form
        document.getElementById('productId').value = productId;
        document.getElementById('quantity').value = quantity;

        // Submit the form
        document.getElementById('addToCartForm').submit();
    }
</script>