@model IEnumerable<SAN_PHAM>


<div class="shopping_cart_area" >
    <div class="row pos_home">
        <div class="col-lg-3 col-md-8 col-12">
            <!--sidebar banner-->
            <div class="sidebar_widget banner mb-35">
                <div class="banner_img mb-35">
                    <a href="#"><img src="~/img/figma/9c834feee12aff4d4b89db2c9f22036e.jpg" alt=""></a>
                </div>
                
            </div>
            <!--sidebar banner end-->
                
                
            <!--sidebar banner-->
            <div class="sidebar_widget bottom ">
                <div class="banner_img">
                    <a href="#"><img src="~/img/figma/b3.jpg" alt=""></a>
                </div>
            </div>
            <!--sidebar banner end-->
                
                
                
        </div>
        <div class="col-lg-9 col-md-12">
            <!--banner slider start-->
            <div class="banner_slider slider_1">
                <div class="slider_active owl-carousel">
                        <div class="single_slider" style="background-image: url(https://lrocre.com.vn/wp-content/uploads/2019/07/%E1%BA%A3nh-qu%E1%BA%A3ng-c%C3%A1o-m%E1%BB%B9-ph%E1%BA%A9m-1.png)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Bộ sưu tập son giới hạn</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                        </div>
                            <div class="single_slider" style="background-image: url(https://www.droppii.com/wp-content/uploads/2023/02/kinh-nghiem-kinh-doanh-my-pham-online-2.jpg)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Bộ sưu tập mới</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                            <div class="single_slider" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ54s1F6EtSdefIeKSJjGxG8sp_-Rv5HQ09PetCUqFu8g&s)">
                        <div class="slider_content">
                            <div class="slider_content_inner">
                                <h1>Mỹ phẩm nổi bật</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--banner slider start-->
            <!--new product area start-->
            <div class="new_product_area">
                <div class="block_title">
                    <h3>New Products 123</h3>
                </div>
                <div class="row">
                    <div class="product_active owl-carousel">
                        @foreach (var item in Model)
                        {
                            Console.WriteLine(item.db_DS_MEDIA_HINH_ANH);
                            var firstImage = item.db_DS_MEDIA_HINH_ANH?.FirstOrDefault();
                            string imageUrl = firstImage != null ? firstImage.MediaHinhAnh : "~/img/default-image.jpg";

                            <div class="col-lg-3">
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <a href="">
                                            <img src="@imageUrl" alt="@item.TenSP">
                                        </a>
                                        <div class="product_action">
                                            <a>
                                                <form method="post" asp-controller="GioHang" asp-action="ThemVaoGioHang">
                                                    <input type="hidden" name="id" value="@item.MaSP" />
                                                    <input type="hidden" name="quantity" value="1" min="1" />
                                                    <button type="submit" class="add_to_cart"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button>
                                                </form>
                                            </a>
                                            <!--<a href="#" type="button" data-toggle="modal" data-target="#modal_box" title="Quick view" class="details" data-id="@item.MaSP">Chi tiết</a>-->
                                            <a asp-controller="Home" asp-action="SPChiTiet" asp-route-id="@item.MaSP">Chi tiết</a>
                                        </div>
                                    </div>
                                    <div class="product_content">
                                        <span class="product_price">@item.Gia</span>  
                                        <h3 class="product_title"><a href="single-product.html">@item.TenSP </a></h3>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
                               
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- 
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-labelledby="modal_box_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal_body">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <div class="modal_tab">
                                <div class="tab-content" id="pills-tabContent">
                                </div>
                                <div class="modal_tab_button">
                                    <ul class="nav product_navactive" role="tablist" id="modal_image_list">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="modal_right">
                                <div class="modal_title mb-10">
                                    <h2 id="modal_title"></h2>
                                </div>
                                <div class="modal_price mb-10">
                                    <span class="new_price" id="modal_price"></span>
                                </div>
                                <div class="modal_add_to_cart mb-15">
                                    <form action="#">
                                        <input id="modal_quantity" min="0" max="100" step="2" value="1" type="number">
                                        <button type="submit">add to cart</button>
                                    </form>
                                </div>
                                <div class="modal_description mb-15">
                                    <p id="modal_description"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.details').on('click', function (e) {
            e.preventDefault();

            var productId = $(this).data('id');
            console.log(productId);
            $.ajax({
                url: '/SanPham/GetProductDetails', 
                type: 'GET',
                data: { id: productId },
                success: function (data) {
                    $('#modal_title').text(data.tenSP);
                    $('#modal_price').text(data.gia);
                    $('#modal_description').text(data.moTa);
                    console.log(data);  
                    console.log(data.tenSP); 
                    var modalImageList = $('#modal_image_list');
                    modalImageList.empty();
                    data.hinhAnh.forEach(function (image, index) {
                        var listItem = $('<li class="nav-item"><img src="' + image + '" alt="product"></li>');
                        modalImageList.append(listItem);
                    });

                    $('#pills-tabContent').html('<div class="tab-pane fade show active"><img src="' + data.hinhAnhDaiDien + '" alt="product"></div>');
                },
                error: function () {
                    alert('Đã có lỗi xảy ra khi lấy thông tin sản phẩm.');
                }
            });
        });
    });
</script>
-->